<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>List of your Favourite Cities  </ion-title>
    <ion-button color="tertiary" slot="end"><!-- todo eventually -->
      Change To Metric/Imperial
  </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding><ion-list>
      <!--once the result/getQuery is complete, lists each item as below-->
      <ion-item *ngFor="let item of favDisplay " (click)="cityClicked(item.name)" [routerLink]="['/forecast', item.name]">
        <!-- todo option to delete/alert that and/or change the button text & color in details -->
        
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                Current Weather in: {{item.name}}
              </div>
            </ion-col>
            <ion-col>
              <div>
                Temperature of: {{item.main.temp}}°C
              </div>
            </ion-col>
            <ion-col>
              <div>
                Feels like: {{item.main.feels_like}}°C
              </div>
            </ion-col>
            <ion-col>
              <div>
                Today's Maximum Temperature: {{item.main.temp_max}}°C
              </div>
            </ion-col>
            <ion-col>
              <div>
                Today's Minimum Temperature: {{item.main.temp_min}}°C
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
  </ion-list>
</ion-content>
