<ion-header>
  <ion-toolbar>
    <ion-title>List of all Favourite Locations</ion-title>
    <!-- need to add two buttons here later one setting metric to true one setting metric to false should got to weather-manager.service->favourites.service to update all lists-->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- temp ion-list as it's using an array that I should change to a map later -->
 <!-- decided not to finish the example will need to full remake this for mapping later anyhow
  <ion-list>
    <ion-list-header>
      <ion-label>Temp</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of items">

      <ion-item>
        <ion-label text-wrap>
          <h3>{{ item.title }}</h3>
          <ion-text color="secondary">
            <p>{{ item.value }}</p>
          </ion-text>
        </ion-label>
      </ion-item>
-->
      
    </ion-item-sliding>
  </ion-list>
</ion-content>
