<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" size="large">
      Ionic/Angular WeatherAPI
    </ion-title>
    <ion-button color="tertiary" slot="end" [routerLink]="['/favourites-list']"><!-- add routerLink here to navigate to favourites -->
        Favourite Locations
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <ion-searchbar [(ngModel)]="query" (ionChange)="searchClicked($value)"> </ion-searchbar><!--this took 3 hours to figure out-->
  <ion-list>
      <!--once the result/getQuery is complete, lists each item as below-->
      <ion-item *ngFor="let item of (results | async)" [routerLink]="['/forecast-list', item.name]">
        <!-- can't use this till I actually get currentWeather items fml I forgot
        <ion-avatar slot="start">
          <img [src]="">
        </ion-avatar> 
        -->
        {{item.name}}
      </ion-item>
      
    <!--neither slider nor context menu are working-->
  </ion-list>
</ion-content>

