<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start" size="large">
      Ionic/Angular WeatherAPI
    </ion-title>
    <ion-button color="tertiary" slot="end" [routerLink]="['/favourites']">
        Favourite Locations
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
<ion-searchbar placeholder="Please enter a City, Region or Country" [(ngModel)]="query" (ionChange)="searchClicked($value)"> </ion-searchbar>
  <ion-list>
      <!--once the result/getQuery is complete, lists each item as below-->
      <ion-item *ngFor="let item of currentItems " (click)="cityClicked(item.name)" [routerLink]="['/forecast', item.name]">
        
        <ion-grid>
          <ion-row>
            <ion-col>
              <div>
                Current Weather in: {{item.name}}
              </div>
            </ion-col>
            <ion-col>
              <div>
                Temperature of: {{item.main.temp}}°C
              </div>
            </ion-col>
            <ion-col>
              <div>
                Feels like: {{item.main.feels_like}}°C
              </div>
            </ion-col>
            <ion-col>
              <div>
                Today's Maximum Temperature: {{item.main.temp_max}}°C
              </div>
            </ion-col>
            <ion-col>
              <div>
                Today's Minimum Temperature: {{item.main.temp_min}}°C
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

  </ion-list>
</ion-content>
